Email_Verification_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Verification_Email</name>
        <label>Send Verification Email</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <actionName>SendVerificationEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Login_Flow_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Check to see if User clicked link in Email, or clicked resend email</description>
        <name>Did_User_Verify_Email</name>
        <label>Did User Verify Email?</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Yes - Verified</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Re_Get_Email_Verification_Info.HasUserVerifiedEmailAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Resend_Email_Checked</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the HasUserVerifiedEmailAdress field is set to true on the TwofactorMethodInfo record for the User.</description>
        <name>Has_User_Verified_Email</name>
        <label>Has User Verified Email?</label>
        <locationX>479</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Verified</defaultConnectorLabel>
        <rules>
            <name>Not_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Verification_Info.HasUserVerifiedEmailAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Verification_Email</targetReference>
            </connector>
            <label>Not Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did User select the Resend Email checkbox?</description>
        <name>Is_Resend_Email_Checked</name>
        <label>Is Resend Email Checked?</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Login_Flow_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resend_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Send_Verification_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>During the Spring’22 release, Salesforce reiterated the need for users to verify their email addresses to be able to send emails from within their orgs. This login flow will send a verification email to any users who have not yet verified their email address.</description>
    <environments>Default</environments>
    <interviewLabel>Email Verification Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Verification Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Email_Verification_Info</name>
        <label>Get Email Verification Info</label>
        <locationX>479</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User_Verified_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TwoFactorMethodsInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get email verification info again to see if User has verified their email or checked the resend email box.</description>
        <name>Re_Get_Email_Verification_Info</name>
        <label>Re-Get Email Verification Info</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_User_Verify_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TwoFactorMethodsInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Login_Flow_Screen</name>
        <label>Login Flow Screen</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Re_Get_Email_Verification_Info</targetReference>
        </connector>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 48px;&quot;&gt;📩&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please check your email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi {!Get_Email_Verification_Info.User.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our records indicate that your email address is not verified in Salesforce. As part of an upcoming release, Salesforce will require that you use a verified email address to continue sending emails through Salesforce, such as sends to contacts or leads.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check your inbox for an email to complete your email verification.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Didn&apos;t receive anything? Click the checkbox below to resend the email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resend_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Resend Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactInfo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Any questions? Feel free to contact Scott Jacobson at scojac@wharton.upenn.edu or via Teams/Slack.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Verification_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
